.imageupload__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px auto;

}
.imageupload__progress{
    margin: 5px auto;    
}
input{
    padding: 15px;
}