.videoFooter {
    display: flex;
    position: relative;
    /* bottom: 100px; */
    color: white;

}

.videoFooter__text {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    padding: 10px;
    flex: 1;
}

.videoFooter__Buttons {
    text-align: center;
    padding: 5px 30px;

}