/* .video video {
    position: relative;
    max-height: 300px;
    scroll-snap-align: start;
    object-fit: cover;
    width: 100%;
} */

.video__player {
    position: relative;
    height: 30vh;
    scroll-snap-align: start;
}

.video__player video {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.video__open {
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 4;
    max-width: 720px;
    object-fit: cover;
}

.video__footer {
    position: absolute;
    width: 100%;
    z-index: 2;
    bottom: 0;
}

@media only screen and (max-width: 600px) {}