.videoFooter {
    display: flex;
    color: white;
    background: linear-gradient(to bottom, rgba(110, 109, 109, 0.27) 0%, rgba(0, 0, 0, 0.50) 50%, rgba(0, 0, 0, 1) 75%);
}

.videoFooter__text {
    padding: 10px;
    flex: 1;
}

.videoFooter__Buttons {
    text-align: center;
    padding: 5px 30px;

}