.header__container{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    opacity: .8;
    object-fit: contain;

  }


  
.header__logo{
    margin: 0 auto;

}

