.header__container {
  display: flex;
  /* width: 100%; */
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid lightgray;
  max-width: 960px;
  /* object-fit: contain; */

}



.header__logo {
  text-align: center;
  flex: 1;
}
