.header__container{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    /* object-fit: contain; */
  }

.header__logo{
    margin: 0 auto;

}

.tabs__tab__text{
  color: white;
  display: none;
}

.tabpanel__tab__text{
 background-color: black;
 color: white;
}