.post {
    background-color: rgba(0, 0, 0, .5);
    color: lightgrey;
    width: 90%;
    max-width: 400px;
    border: 1px solid lightgrey;
    margin-top: 35%;
    outline: none
    
}



.post__commentBox {
    display: flex;
    margin: 10px;
    border-top: 1px solid lightgray;

}

.post__commentBox input {
    background-color: rgba(0, 0, 0, .4);
    color: lightgray;
    outline: none


}

.post__comments_comment {
    margin: 5px 20px;
    font-size: small;
}

.post__input {
    flex: 1;
    border: none;
    padding: 10px;
}

.post__button {
    /* flex: 0,5; */
    padding: 0 20px;
    border: none;
    background-color: rgba(255, 255, 255, .8);
    ;
    color: black
}

.post__danger {
    color: red;
}

@media only screen and (max-width: 600px) {
    .post {
        align-items: center;

        width: 100%;
    }

    .post__image {
        width: 100%;
    }

}