/* .footer__appBar {
    top: auto;
    bottom: 0
}

;

.footer__grow {
    flex-grow: 1,
}

;

.footer__fabButton {
    position: absolute;
    z-index: 1;
    top: -30;
    left: 0;
    right: 0;
    margin: 0 auto
} */
.footer__imageupload{
    display: none;
    &.done {
        display: inline;
      }
}