.post {
    background-color: white;
    /* width: 90%; */
    border: 1px solid lightgrey;
    margin-bottom: 45px;
    /* padding: 20px; */
}

.post__image {
    width: 100%;
    object-fit: contain;

    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.post__text {
    font-weight: normal;
    padding: 20px;
    color: #000000;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #000000;

}

.post__avatar {
    margin-right: 10px;
}

.post__img-hover-zoom {
    height: 50%;
    overflow: hidden;
}

.post__img-hover-zoom img {
    transition: transform .5s ease;
}

.post__img-hover-zoom:hover img {
    transform: scale(1.1);
}

.post__commentBox {
    display: flex;
    margin-top: 10px;
    border-top: 1px solid lightgray;
}
.post__comments_comment{
    margin: 5px 20px;
    font-size: small;
}
.post__input {
    flex: 1;
    border: none;
    padding: 10px;
}

.post__button {
    flex: 0,5;
    border: none;
    background-color: transparent;
    color: lightskyblue;
}

.post__danger{
    color: red;
}