* {
  margin: 0;
  font-family: sans-serif;
}

.app {
  margin: 0 auto;
  max-width: 960px;
  background-color: #fafafa;

}

.app__header {
  position: sticky;
  z-index: 1;
  top: 0
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__postcard__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}


.tabs__container {
  max-width: 960px;
  /* display: flex; */
  /* flex-direction: row; */
  /* background-color: black; */
  /* color: white; */
}

.tabs__posts_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.tabs__post__instagram_embded {
  max-width: 340px;
  margin-left: 10px;

}


.tabs__tab__text {
  color: white;
  display: none;
}
/* /TO DO:
style instaCards */

/* .tabs__instaEmbed{
  max-height: 100px;
} */

@media only screen and (max-width: 600px) {
  .tabs__container {

  }

}
