* {
  margin: 0 auto;
  font-family: sans-serif;
}

html {
  overflow: hidden;
  scroll-snap-type: y mandatory;
  max-width: 960px;

}

.app {
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.app__header {
  position: relative;
  color: #000;
  width: 90%;
  top: 0;
  flex-shrink: 0;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__main {
  flex-grow: 1;
  width: 100%;

  overflow: scroll;
  scroll-snap-type: y mandatory;
  /* margin-bottom: 100px; */

}

/* hide scrollbar from Chrome, Safari and Opera */
.app__main::-webkit-scrollbar {
  display: hidden;
}

/* hide scrollbar from IE, EDGE and Firefox */
.app__main {

  -ms-overflow-style: none;
  /*IE EDGE */
  scrollbar-width: none;
  /*Firefox */
}

.app__main_video {
  height: 90vh;
}

.app__footer h3{
  flex-shrink: 0;

}

@media only screen and (max-width: 600px) {
  /* .app__main {
    overflow: scroll;
    display: grid;
    place-items: center;
    width: 100%;
  } */

  /* .app__intro {
    padding: 50%;
    min-height: 10vh;

  } */

}
