* {
  margin: 0 auto;
  font-family: sans-serif;
}

html {
  /* height: 100%; */
  overflow: hidden;
  scroll-snap-type: y mandatory;
  max-width: 960px;

}

.app {
  overflow: scroll;
}

.app__header {
  position: relative;
  color: #000;
  top: 0
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__main {
  display: grid;
  place-items: center;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  /* margin-bottom: 100px; */

}

/* hide scrollbar from Chrome, Safari and Opera */
.app__main::-webkit-scrollbar {
  display: hidden;
}

/* hide scrollbar from IE, EDGE and Firefox */
.app__main {

  -ms-overflow-style: none;
  /*IE EDGE */
  scrollbar-width: none;
  /*Firefox */
}
.app__main_video{
  height: 90vh;
}
.app__footer {
  position: sticky;
  z-index: 3;
  background-color: honeydew;
}

@media only screen and (max-width: 600px) {
  /* .app__main {
    overflow: scroll;
    display: grid;
    place-items: center;
    width: 100%;
  } */

  /* .app__intro {
    padding: 50%;
    min-height: 10vh;

  } */

}
